model_config_list {
  config {
    name: 'vera_species'
    base_path: '/models/vera_species/',
    model_platform: "tensorflow",
    model_version_policy: {
        all: {}
    }
  }
  config {
    name: 'vera_poles_trees'
    base_path: '/models/vera_poles_trees/',
    model_platform: "tensorflow",
    model_version_policy: {
        all: {}
    }
  }
  config {
    name: 'vera_equipments'
    base_path: '/models/vera_equipments/',
    model_platform: "tensorflow",
    model_version_policy: {
        specific {
            versions: 1
            versions: 2
        }
    }
    }
}